<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        {% if x > y %}
        <h1>x is greatest</h1>
        {% elif x > z %}
        <h1>x is greatest</h1>
        {% elif y > z%}
        <h1>y is geratest</h1>
        {% else %}
        <h1>z is greatest</h1>
        {% endif %}

    </center>
</body>
</html>